.upload-window{
    text-align: center;
    width:100%;
    height: 100%;
    color: #363A3E;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.upload-title{
    margin-top:22px;
}

.upload-img{
    margin-top:50px;
    outline: none;
}

.justify-content-between{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list-download-bar{
    height: 2px;
    width: 100%;
    background-color: #979797;
    margin-top:6px;
}

.list-download-bar-progress {
    height: 100%;
    background-color: #2983C5;
}

.list-file-name{
    color: #363A3E;
    font-size: 14px;
}

.list-status {
    color: #7E8691;
    font-size: 12px;
}

.list-img-cancel:hover{
    cursor: pointer;
}

.add-file{
    text-align: center;
    margin-top:10px;
    color: #6288A9; 
}

.add-file:hover{
    cursor: pointer;
}

.add-file-img {
    font-size: 20px;
    margin-right:6px;
}
.add-file-text {
    font-size:14px;
    font-weight: bold;
}

.share-title{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    color: #4A4A4A; 
}

.share-subtitle{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.share-link{
    width:80%;
    font-size:14px;
    padding: 8px 8px;
    color: #4A4A4A;
    border-radius: 8px;
    border: 1px solid #B9BBBD;
}

.share-img{
    margin-left: 16px;
}

.link-preview-copied{
  position: absolute;
  font-size:12px;
  color: #87D483;
  font-weight: bold;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.options-container{
  margin-left: 20px;
  margin-right:20px;
}

.option-btn{
    padding: 5px 9px;
    margin: 0 20px 0 0;
}

.option-btn:disabled{
    color: #979797;
    border: 1px solid #979797;
}

.option-btn:disabled:hover{
    background: inherit;
}

.upload-name-label{
    font-size:14px;
    color:#83878B;
    margin-bottom: 8px;
}

.option-upload-btn{
    font-size: 14px;
    margin: 0;
    padding: 2px 4px;
}

.option-preview-img{
    margin-bottom: 8px;
    margin-right: 4px;
}
