.upload-window{
    text-align: center;
    width:100%;
    height: 100%;
    color: #363A3E;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.upload-title{
    margin-top:22px;
}

.upload-description{
    margin: 9px 12px;
    font-size: 14px;
}

.upload-header {
    margin-top: 22px;
    min-height: 80px;
}

.upload-img{
    outline: none;
    margin-bottom: 42px;
}

.justify-content-between{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list-download-bar{
    height: 2px;
    width: 100%;
    background-color: #979797;
    margin-top:6px;
}

.list-download-bar-progress {
    height: 100%;
    background-color: #2983C5;
}

.list-file-name{
    color: #363A3E;
    font-size: 14px;
}

.list-status {
    color: #7E8691;
    font-size: 12px;
}

.list-img-cancel:hover{
    cursor: pointer;
}

.add-file{
    text-align: center;
    margin-top:10px;
    color: #6288A9; 
}

.add-file:hover{
    cursor: pointer;
}

.add-file-img {
    font-size: 20px;
    margin-right:6px;
}
.add-file-text {
    font-size:14px;
    font-weight: bold;
}

.share-title{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    color: #4A4A4A; 
}

.share-subtitle{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.share-link{
    width:80%;
    font-size:14px;
    padding: 8px 8px;
    color: #4A4A4A;
    border-radius: 8px;
    border: 1px solid #B9BBBD;
}

.share-img{
    margin-left: 16px;
}

.link-preview-copied{
  position: absolute;
  font-size:12px;
  color: #87D483;
  font-weight: bold;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.options-container{
  margin-left: 20px;
  margin-right:20px;
}

.option-btn{
    padding: 5px 9px;
    margin: 0 20px 0 0;
}

.option-btn:disabled{
    color: #979797;
    border: 1px solid #979797;
}

.option-btn:disabled:hover{
    background: inherit;
}

.upload-name-label{
    font-size:14px;
    color:#83878B;
    margin-bottom: 8px;
}

.option-upload-btn{
    font-size: 14px;
    margin: 0;
    padding: 2px 4px;
}

.option-preview-img{
    margin-bottom: 8px;
    margin-right: 4px;
}


.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #f5f5f5;
    background-color: rgb(243, 243, 243);
    border-radius: 10px 10px 0 0;
    padding: 0;
    color: rgb(59, 62, 66);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
  
.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    border-top: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    width:157px;
}
  
.react-tabs__tab--selected {
    background: #fff;
    border-color: #f5f5f5;
    color: black;
    border-radius: 10px 0 0 0;
}

.react-tabs__tab--selected:last-child {
      border-radius: 0 10px 0 0;
}
  
  
.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}
  
.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}
  
.react-tabs__tab-panel {
    display: none;
}
  
.react-tabs__tab-panel--selected {
    display: block;
}

.email-title{
    color: #363A3E;
    font-size: 14px;
}

.react-multi-email{
    padding: 0 0.4rem!important;
    left: 0;
    right: 0;
    height: 33.5px;
    overflow-x: auto;
    white-space: nowrap; 
    width:1%;
    border: 1px solid #ced4da!important;
    border-radius: 0 0.25rem 0.25rem 0!important; 
    max-height: 100%;
    
}

.react-multi-email::-webkit-scrollbar { 
    display: none; 
}

.react-multi-email.empty > span[data-placeholder] {
    padding: 4px 0!important;
    color: #636c72!important;
}

.custom-form{
    font-size:13px;
    padding-left:5px;
}

.custom-form::placeholder{
    color: #636c72;
}
.email-textarea{
    font-size:13px;
    max-height: 71px;
}

.email-sent {
    color: #87D483;
    font-size: 14px;
    margin-top:22px;
    font-weight: bold;
}

.email-sent:hover {
    cursor: default;
}