body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-container{
  position: relative;
  min-height: calc(100vh);
  padding:26px 32px 16px 32px;
}

.logo img {
  text-align: center;
  padding-top: 16px;
  width: 314px;
  max-width: 314px;
  max-height:100px; 
  object-fit: contain; 
}


.menu {
 width: 100%;
 display:flex;
 justify-content: flex-end;
}

.menu-link{
  color: inherit;
}

.menu-link:hover {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
  
}

.spinner {
  height:100vh;
}

.social-account{
  margin-top: 3px;
  font-size: 18px;
  margin-left: 14px;
}

.flag-select img{
  vertical-align: unset;
}

.upload-modal { 
  box-shadow: 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.03);
  margin-top: 24px;
  background: white;
  border-radius: 10px;
}

.listfiles {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
}


hr {
  width:90%;
  border: 1px solid #f5f5f5;
  margin-top: 0rem;
  margin-bottom: 0rem;  
}

.list-title {
  color: #363A3E;
  font-size: 22px;
  padding-top: 14px;
  padding-bottom:14px;
  padding-left: 20px;
  font-weight: bold;
}

.list-body{
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 20px;
}

.list-info{
  margin-left: 12px;
  width:100%;
  flex-basis: 800px;
}

.list-file-name{
  color: #363A3E;
  font-size: 14px;
}

.list-container{
  padding-top: 0.6rem;
  flex: 1;
  overflow-y:auto;
  max-height: 226px;
}

.list-container::-webkit-scrollbar { 
  display: none; 
}

.list-footer {
  text-align:center;
  position: relative;
}

.navbar-ue{
  background-image: linear-gradient(to left, #5B87E5, #36C7DC);
  color: white;
}


.dropdown-item:active{
  background-color: #5BA3D4;
  
}

.cursor{
  cursor: pointer;
}


.blue-btn{
  margin-top:20px;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  color: #6288A9;
  border: 1px solid #6288A9;
  background-color: white;
}

.blue-btn:hover:enabled{
  background-color: #6288A9;
  color: white
}

.blue-btn:disabled{
  color: #979797;
  border: 1px solid #979797;
}



.green-btn{
  margin-top:22px;
  margin-bottom: 22px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  color: #87D483;
  border: 1px solid #87D483;
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.green-btn:hover{
  background-color: #87D483;
  color: white;
  outline: none;
}

.green-btn:disabled:hover{
  background-color: white;
  color: #87D483;
}

