body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background{
  background-color: black;
  min-height: 626px;
  padding:16px;
  
}

.logo-blue {
  color: #95C6FF;
  font-size: 26px;
  text-align: center;
  padding-top: 16px;
}

.logo-white {
  color: white;
  font-size: 26px;
}

.menu{
 color:white;
 width:100%;
 display:flex;
 justify-content: flex-end;
}

.flag-select img{
  vertical-align: unset;
}

.upload-modal { 
  margin-top: 40px;
  width: 364px;
  height: 387px;
  background: white;
  border-radius: 10px;
}

.listfiles {
  width:100%;
  height: 100%;
}


hr {
  width:90%;
  border: 1px solid #f5f5f5;
  margin-top: 0rem;
  margin-bottom: 0rem;  
}

.list-title {
  color: #363A3E;
  font-size: 22px;
  margin-top: 14px;
  margin-bottom:14px;
  margin-left: 20px;
  font-weight: bold;
}

.list-body{
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 20px;
}

.list-info{
  margin-left: 12px;
  width:100%;
  flex-basis: 800px;
}

.list-file-name{
  color: #363A3E;
  font-size: 14px;
}

.list-container{
  padding-top: 1rem;
  height:64%;
  overflow-y:auto;
  
}

.list-footer {
  text-align:center;
  position: relative;
}

.navbar-ue{
  background-color: #5BA3D4;
  color: white;
}

.dropdown-link{
  color: #50565C;
  text-decoration: none;
  margin-left:14px;
}

.dropdown-link:hover{
  color: #363A3F;
  
}


.blue-btn{
  margin-top:22px;
  margin-bottom: 22px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  color: #6288A9;
  border: 1px solid #6288A9;
  background-color: white;
}

.blue-btn:hover:enabled{
  background-color: #6288A9;
  color: white
}

.blue-btn:disabled{
  color: #979797;
  border: 1px solid #979797;

}



.green-btn{
  margin-top:22px;
  margin-bottom: 22px;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  color: #87D483;
  border: 1px solid #87D483;
  background-color: white;
}

.green-btn:hover{
  background-color: #87D483;
  color: white
}



