.input-img{
    background: white;
}

.btn-forgot{
    font-size:14px;
    border-color: #ced4da;
    color:#989ca0;
    border-left-style: hidden;
}

.btn-forgot:hover{
    color:#6288A9;

}

.remember{
    font-size:14px;
    color:#41454A;
}

.password-input{
    border-right-style:hidden;
}

.error-message{
    font-size:14px;
    color: #cc0000;
    margin-top: 12px;
}