.upload-window{
    text-align: center;
    width:100%;
    height: 100%;
    color: #363A3E;
    font-size: 26px;
    
    display: flex;
    flex-direction: column;
}

.upload-title{
    margin-top:26px;
}

.upload-img{
    margin-top:50px;
}

.listfiles {
    width:100%;
    height: 100%;
}

.list-title {
    color: #363A3E;
    font-size: 28px;
    margin-top: 22px;
    margin-bottom:22px;
    margin-left: 20px;
    font-weight: bold;
}

hr {
    width:90%;
    border: 1px solid #f5f5f5;  
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-between{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list-body{
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
}

.list-info{
    margin-left: 12px;
    width:100%;
    flex-basis: 800px;
}

.list-download-bar{
    height: 1px;
    width: 100%;
    background-color: #979797;
    margin-top:6px;
}

.list-download-bar-progress {
    height: 100%;
    background-color: #87D483;
}

.list-file-name{
    color: #363A3E;
    font-size: 14px;
}

.list-status {
    color: #7E8691;
    font-size: 12px;
}

.list-container{
    height:60%;
    overflow-y:scroll;

}

.list-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
}

.blue-btn{
    margin-top:22px;
    margin-bottom: 22px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
    color: #6288A9;
    border: 1px solid #6288A9;
    background-color: white;
}

.blue-btn:hover{
    background-color: #6288A9;
    color: white
}
