.preview-container {
    position: relative;
    object-fit: contain;
    margin-right: 12px;
    margin-bottom: 12px;
}

.preview-img{
    max-width: 140px;
    max-height: 110px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.preview-container:hover .preview-img {
    opacity: 0.3;
    cursor:pointer;
}

.selected {
   opacity: 0.3
}

.preview-selected-img {
    position: absolute;
    top: 2%;  
    left: 82%; 
}

.preview-btn{
  position: absolute;
  right: 20px;
  top: 50%;
  font-size:14px;
  font-weight: bold;
  transform: translate(0, -50%);
  color:#5BA3D4;
}

.preview-btn:hover {
    text-decoration: none;
    color: rgb(44, 100, 138);
    
}
  
  